@use 'pixel-sim' as ps;

@mixin base {
  @include ps.border;

  --border-color: var(--color-darkest-gray);

  cursor: pointer;
  text-transform: uppercase;
  min-height: ps.space(8);
  padding: 0 ps.space(3);
  border: 0 none;
  background-color: var(--color-darkest-gray);
  color: var(--color-lightest-gray);
  transition: 0.1s ease;
  display: inline-flex;
  gap: ps.space(1);
  align-items: center;

  &:hover,
  &:focus-visible {
    --border-color: var(--color-gray);
    background-color: var(--color-dark-gray);
    color: var(--color-white);
  }
}

@mixin back-button {
  @include base;
}