@font-face {
  font-family: '04b03';
  src: url('/fonts/04b03/04b03.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-heading: swap;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-heading: swap;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/Silkscreen/Silkscreen-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-heading: swap;
}

@font-face {
  font-family: 'Departure Mono';
  src:
    url('/fonts/DepartureMono/DepartureMono-Regular.woff2') format('woff2'),
    url('/fonts/DepartureMono/DepartureMono-Regular.woff') format('woff'),
    url('/fonts/DepartureMono/DepartureMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-heading: swap;
}