@font-face {
  font-family: 'Dogica';
  src: url('/fonts/dogica/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dogica';
  src: url('/fonts/dogica/dogicabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dogica Pixel';
  src: url('/fonts/dogica/dogicapixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dogica Pixel';
  src: url('/fonts/dogica/dogicapixelbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// ─── Pixel Operator ───

@font-face {
  font-family: 'Pixel Operator';
  src: url('/fonts/pixelOperator/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('/fonts/pixelOperator/PixelOperator-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/fonts/pixelOperator/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/fonts/pixelOperator/PixelOperatorMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator 8';
  src: url('/fonts/pixelOperator/PixelOperator8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator 8';
  src: url('/fonts/pixelOperator/PixelOperator8-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono 8';
  src: url('/fonts/pixelOperator/PixelOperatorMono8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono 8';
  src: url('/fonts/pixelOperator/PixelOperatorMono8-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}