@mixin pixel-border {
  box-shadow: 0px var(--border-width) var(--border-color), 0px calc(-1 * var(--border-width)) var(--border-color), var(--border-width) 0px var(--border-color), calc(-1 * var(--border-width)) 0px var(--border-color);
}

@mixin heading {
  color: var(--color-lightest-yellow);
  margin-block-end: 1em;
  font-size: 0.8rem;
  font-weight: bold;
}

@mixin heading-lg {
  color: var(--color-white);
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: -0.08em;
}

@mixin label {
  color: var(--color-white);
}

@mixin button {
  @include pixel-border;

  --border-width: 2px;
  --border-color: var(--color-dark-gray);

  cursor: pointer;
  text-transform: uppercase;
  min-height: 1.85rem;
  padding: 0 0.75rem;
  border: 0 none;
  background-color: var(--color-darkest-gray);
  color: var(--color-lightest-gray);
  transition: 0.1s ease;

  &:hover,
  &:focus-visible {
    --border-color: var(--color-light-gray);
    background-color: var(--color-dark-gray);
    color: var(--color-white);
  }
}

@mixin back-button {
  @include button;
}