@use '~styles/mixins';

.section {
  margin-block-end: 2rem;
}

.stat {
  >.label {
    @include mixins.label;
  }
}

.segments {
  display: inline-flex;
  gap: 0.25em;
  vertical-align: middle;
  margin-inline-start: 0.7ch;
}

.segment {
  display: inline-block;
  width: 0.75em;
  height: 0.98em;
  border: 2px solid var(--color-gray);
  position: relative;
  top: -1px;

  &.filled {
    background: var(--color-lightest-gray);
    border-color: var(--color-lightest-gray);
  }
}