@use 'reset';
@use 'fonts';
@use 'variables';
@use 'utilities';
@use 'classes';

#app {
  background: var(--color-black);
  color: var(--color-lightest-gray);
  font-family: var(--font-base);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  display: flex;
  text-transform: uppercase;
  height: 100svh;
  width: 100svw;
  overflow: hidden;
}